@{
    Layout = "_Layout";
}




<table>
    <thead>
        <tr>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            <th>d</th>
        </tr>

        <tbody>
            
        </tbody>
    </thead>
</table>