@{
    Layout = "_Layout";
}

@model List<Entities.Concrete.Northwind.Customer>


<table>
    <thead>
        <tr>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            <th>d</th>
        </tr>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CompanyName</td>
                    <td>@item.ContactName</td>
                    <td>@item.City</td>
                    <td>@item.Country</td>
                </tr>
            }
        </tbody>
    </thead>
</table>